
*.htm
*.dep
*.lukeh
*.lst
*.ini
*.uvopt
*.sct
*.s
1st year/ARM assembly/Memory/Assignment.2.1.Sets/Sets.uvproj
*.o
*.map
*.lib
1st year/ARM assembly/Memory/Assignment.2.1.Sets/Sets.lnp
*.d
*.axf
*.scvd
*.dep
*.lukeh
*.lst
*.htm
*.htm
*.class
1st year/Java Programming/Random/Minesweeper.java
*.xml
*.iml
*.vlw
