.gradle/
.idea/
cmake-build-debug/
node_modules/
*.in
*.results
*.out
*.htm
*.dep
*.lukeh
*.lst
*.ini
*.uvopt
*.sct
*.uvproj
*.o
*.map
*.lib
*.lnp
*.d
*.axf
*.scvd
*.dep
*.lukeh
*.lst
*.htm
*.htm
*.class
*.xml
*.iml
*.vlw
build/
*.tmp
*.crf
__pycache__/
.coverage
htmlcov/
.yy.c